{% extends "base_templates.html" %}
{%load static%}
{% block content %}

<div class="bg-about">
  <h6>Privacy Policy</h6>
</div>
<div>
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.php">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
  </ol>
</nav>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-12">
      <div class="policy">
        <h1>OUR POLICY</h1>
      </div>
      <div class="circle">
        <i class="fa fa-circle" aria-hidden="true"></i><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
      </div>
       <div class="circle">
        <i class="fa fa-circle" aria-hidden="true"></i><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
      </div>
       <div class="circle">
        <i class="fa fa-circle" aria-hidden="true"></i><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
      </div>
       <div class="circle">
        <i class="fa fa-circle" aria-hidden="true"></i><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
      </div>
       <div class="circle">
        <i class="fa fa-circle" aria-hidden="true"></i><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
      </div>
    </div>
  </div>
</div>










{% endblock content %}