{% extends "base_templates.html" %}
{%load static%}
{% block content %}
<style type="">
	.btn.btn-outline-primary.blues {
    width: auto;
    padding: 6px 24px;
    font-size: 13px;
    color: #1891E9;
    font-weight: 500;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 10%);
}

  i.fa.fa-circle {
    color: red;
    font-size: 6px;
    position: relative;
    bottom: 8px;
    right: 6px;
}

</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
      {% include "dashboard/sidebar.html" %}
		</div>
		<div class="col-md-9">
		  <div class="dashboard-h1">
        <h6>My Pages</h6>
          <div class="new-div-fix">
        <a href="create.php"> <button class="btn btn-new">Create new page &nbsp;<i class="fa fa-plus"></i></button></a> 
           <ul class="notification-drop">
    <li class="item">
      <i class="fa fa-bell-o notification-bell" aria-hidden="true"></i> <span class="btn__badge pulse-button ">4</span>     
      <ul>
        <li class="notification-list-li">
          <div class="row">
          <div class="col-3">
            <img src="{% static 'https://digimonk.co/bolt/images/Ellipse-1.png'%}">
          </div>
          <div class="col-9">
            <p class="notification-p-li">
What is Shillzone
A Free, Interactive Directory for crypto Developer to Store and Prioritize all their</p>
          </div>
        </div>
    </li>
          <li class="notification-list-li">
          <div class="row">
          <div class="col-3">
            <img src="{% static 'https://digimonk.co/bolt/images/Ellipse-1.png'%}">
          </div>
          <div class="col-9">
            <p class="notification-p-li">
What is Shillzone
A Free, Interactive Directory for crypto Developer to Store and Prioritize all their</p>
          </div>
        </div>
    </li>
         <li class="notification-list-li">
          <div class="row">
          <div class="col-3">
            <img src="{% static 'https://digimonk.co/bolt/images/Ellipse-1.png'%}">
          </div>
          <div class="col-9">
            <p class="notification-p-li">
What is Shillzone
A Free, Interactive Directory for crypto Developer to Store and Prioritize all their</p>
          </div>
        </div>
    </li>
    <div class="text-center mb-4 mt-3">
      <a href="notification.php"><button class="btn  gradient">View All</button></a>
    </div>
      </ul>
    </li>
  </ul>
    </li>
  </ul>
        <!-- <a href="" style="color: #fff;"> <i class="fa fa-bell"><span class="dotss">4</span></i></a> -->
        </div>
      </div>
<!-- 			<div class="search">
				<div class="mt-4">
				<i class="fa fa-search"></i>
			<input type="Search" name="" class="form-control" placeholder="search"></div>
			</div> -->
			<div class="row">
				<div class="col-md-6">
					<div class="serch-btn mt-4">
						<button class="btn btn-outline-primary blues">All</button>
						<div class="dropdown">
  <button class="btn btn-outline-primary blues dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Most Shouted page
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Week</a></li>
    <li><a class="dropdown-item" href="#">Month</a></li>
    <li><a class="dropdown-item" href="#">Ever</a></li>
  </ul>
</div>
<button class="btn btn-outline-primary blues">Most Followed Pages</button>

					</div>
				</div>
				<div class="col-md-6">
					<div class="search">
				<div class="mt-4">
				<i class="fa fa-search"></i>
			<input type="Search" name="" class="form-control once-srch" placeholder="search" style="width: 61%;"></div>
			</div>
				</div>
			</div>
			<div class="row">
             <div class="table-responsive">
        <table class="table no-wrap table-new table-list" style="
    position: relative;
">
          <thead>
            <tr>
              
              <th>Sr. No.</th>
              <th>Coin Logo</th>
              <th>Coin Name</th>
              <th>Page Name</th>
              <th>Shouts</th>
              <th>Followers</th>
              <th>Assign To</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              
              <td>01</td>
              <td><img src="{% static 'img/coin.png'%}"></td>
              <td>Bitcoin</td>
              <td>Invest in Bitcoin</td>
              <td>25</td>
              <td>12</td>
              <td>User 1</td>
              <td>Publish</td>
                 <td class="switch-td"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true"></i>
              <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
</div></td>
            </tr>
			
			
	          <tr>
              
              <td>01</td>
              <td><img src="{% static 'img/coin.png'%}"></td>
              <td>Bitcoin</td>
              <td>Invest in Bitcoin</td>
              <td>25</td>
              <td>12</td>
              <td>User 1</td>
              <td>Unpublish</td>
                 <td class="switch-td"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true"></i>
              <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
</div></td>
            </tr>
			
			
		           <tr>
              
              <td>01</td>
              <td><img src="{% static 'img/coin.png'%}"></td>
              <td>Bitcoin</td>
              <td>Invest in Bitcoin</td>
              <td>25</td>
              <td>12</td>
              <td>User 1</td>
              <td>Unpublish</td>
                 <td class="switch-td"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true"></i>
              <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
</div></td>
            </tr>
			
	         <tr>
              
              <td>01</td>
              <td><img src="{% static 'img/coin.png'%}"></td>
              <td>Bitcoin</td>
              <td>Invest in Bitcoin</td>
              <td>25</td>
              <td>12</td>
              <td>User 1</td>
              <td>Publish</td>
              <td class="switch-td"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true"></i>
              <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
</div></td>
            </tr>
			
			
			
			
			
			
            
          
          </tbody>
        </table>
      </div>
			</div>
		</div>
	</div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Users</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
<div class="modal-body">
        <div class="row">
      <div class="col-md-6">
  <div class="mb-3">
    <label class="form-label">Coin Name</label>
    <input type="" class="form-control" placeholder="Coin Name">
  </div>
</div>
<div class="col-md-6">
  <div class="mb-3">
    <label class="form-label">Page Name</label>
    <input type="Total Prospects" class="form-control" placeholder="Page Name">
  </div>
</div>
<div class="col-md-6">
  <div class="mb-3">
    <label class="form-label">Shouts  </label>
    <input type="password" class="form-control" placeholder="Shouts">
  </div>
</div>
<div class="col-md-6">
  <div class="mb-3">
    <label class="form-label">Followers</label>
    <input type="" class="form-control" placeholder="Followers">
  </div>
</div>
<div class="text-end">
  <button type="submit" class="btn btn-primary sbumit">Submit</button>
</div>

     </div>
      </div>
   
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
<div class="modal-body">
       <div class="text-center">
         <h3 style="    color: #1891E9;
    font-weight: bold;
    position: relative;
    top: 10px;">Are You Sure ?</h3>
       </div>
       <div class="modal-btn text-center mt-3 mb-3">
         <button class="btn btn-yes">Yes</button>
         <button class="btn btn-yes">No</button>
       </div>
      </div>
   
    </div>
  </div>
</div>
{% endblock content %}